/* Landing Page Styling */
.landing-page {
	height: 880px;
	display: flex;
	padding: 0px 270px 0px 130px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #ffd28a;
}
.ring {
	height: 630px;
	transform: translateX(-10px) translateY(95px);
}
.hero-text {
	font-size: 65px;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	color: #614b54;
}

.aux-text {
	padding: 20px 0px 20px 0px;
	font-size: 20px;
	font-family: "Ubuntu", sans-serif;
	color: #614b54;
}

.btn-group {
	margin-right: 230px;
	size: 20px;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px 10px 0px;
}

.btn {
	background-image: linear-gradient(
		45deg,
		#ff3295 0%,
		#ff66b0 51%,
		#ff3295 100%
	);
}

/* .btn {
	height: 55px;
	width: 180px;
	padding: 15px 30px;
	text-align: center;
	transition: 0.5s;
	font-size: 20px;
	font-weight: 500;
	background-size: 200% auto;
	color: white;
	border-radius: 50px;
	border: 0px;
	box-shadow: 0px 0px 14px -7px #f09819;
} */

.btn:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}
.scroll-btn {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}

.scroll-btn {
	--primary-color: #111;
	--hovered-color: #c84747;
	position: relative;
	display: flex;
	font-weight: 600;
	font-size: 20px;
	gap: 0.5rem;
	padding-top: 180px;
	align-items: center;
}

.scroll-btn p {
	margin: 0;
	position: relative;
	font-size: 20px;
	color: var(--primary-color);
}

.scroll-btn::after {
	position: absolute;
	content: "";
	width: 0;
	left: 0;
	bottom: -7px;
	background: var(--hovered-color);
	height: 2px;
	transition: 0.3s ease-out;
}

.scroll-btn p::before {
	position: absolute;
	content: "Scroll to Bottom";
	width: 0%;
	inset: 0;
	color: var(--hovered-color);
	overflow: hidden;
	transition: 0.1s ease-out;
}

.scroll-btn:hover::after {
	width: 100%;
}

.scroll-btn:hover p::before {
	width: 100%;
}

.scroll-btn:hover svg {
	transform: translateX(4px);
	color: var(--hovered-color);
}

.scroll-btn svg {
	color: #dddd;
	transition: 0.5s;
	position: relative;
	width: 15px;
	transition-delay: 0.1s;
}

.arrow-svg {
	height: 15px;
	width: 30px;
	padding-right: 5px;
}

.graphic-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(85px);
}

.teacher-card {
	transform: translateY(-520px);
	width: 245px;
	height: 300px;
	border-radius: 60px;
	background: rgb(46, 44, 44);
	transition: all 300ms;
}

.container {
	position: relative;
	font-family: sans-serif;
}

.container .box {
	width: 300px;
	height: 110px;
	padding: 1rem;
	background-color: rgb(255 238 212 / 20%);
	border: 1px solid rgb(255 238 212 / 20%);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	border-radius: 0.7rem;
	transform: translateX(-25px) translateY(230px);
	transition: all ease 0.3s;
}

.container .box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.teacher-name {
	font-size: 2rem;
	font-weight: 500;
	font-family: "Ubuntu", sans-serif;
	color: #ffff;
	font-size: 40px;
}

.category {
	display: block;
	margin-bottom: 0.5rem;
	font-family: "Ubuntu", sans-serif;
	font-size: 19px;
	font-weight: 500;
	color: rgb(0, 0, 0);
}

.container .box div p {
	margin: 0;
	font-size: 0.9em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

.container .box div span {
	font-size: 0.7rem;
	font-weight: 300;
}

.container .box div span:nth-child(3) {
	font-weight: 500;
	margin-right: 0.2rem;
}

.container .box:hover {
	box-shadow: 0px 0px 20px 1px #ffbb763f;
	border: 1px solid rgba(255, 255, 255, 0.454);
}

.interact-btn {
	display: flex;
	flex-direction: row;
	transform: translateY(-450px);
	justify-content: space-around;
	width: 400px;
}

.video-btn {
	height: 85px;
	width: 85px;
	background-color: #fff;
	border-radius: 100px;
	border: 0px;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.add-btn {
	height: 85px;
	width: 85px;
	background-color: #fff;
	border-radius: 100px;
	border: 0px;
	transform: translateY(60px);
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.mail-btn {
	height: 85px;
	width: 85px;
	background-color: #fff;
	border-radius: 100px;
	border: 0px;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.video {
	height: 60px;
}

.add {
	height: 60px;
}

.mail {
	height: 60px;
}

.footer {
	transform: translateY(-40%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0px 130px 0px 130px;
	background: linear-gradient(to bottom, #ff3695, #ff60ac);
	border-radius: 68px;
	height: 220px;
}

.icn-group {
	background-color: #ffff;
	height: 100px;
	width: 100px;
	transform: translateY(-45px);
	border-radius: 90px;
}

.hand-icon {
	transform: translate(20%, 20%);
	height: 70px;
	width: 70px;
}

.aux-text-footer {
	font-size: 25px;
	font-weight: 600;
	color: #ffff;
	transform: translateY(-35%);
	font-family: "Ubuntu", sans-serif;
}

.aux-text-break {
	font-size: 15px;
	font-weight: 400;
	color: #ffff;
	transform: translateY(-35%);
	font-family: "Ubuntu", sans-serif;
}

.right-group {
	display: flex;
	flex-direction: column;
	transform: translateX(20px);
}

.teacher-cards-top {
	width: 175px;
	height: 165px;
	background: rgb(46, 44, 44);
	border-radius: 40px;
	transition: all 300ms;
}

.teacher-cards-bottom {
	width: 175px;
	height: 165px;
	background: rgb(254, 0, 122);
	border-radius: 40px;
	transition: all 300ms;
}

.card-top {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 950px;
	transform: translateY(30px) translateX(-30px);
	z-index: 2;
}

.card-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 950px;
	transform: translateY(-75px);
}

.teacher-cards-top:hover {
	transform: scale(1.1);
}

.teacher-cards-bottom:hover {
	transform: scale(1.1);
}

.teacher-card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(110px);
}

.rating {
	height: 15px;
}

.expertise {
	font-size: 20px;
	color: #ffff;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
}

