
  
  .containerr {
    background-color: indigo;
    position: relative;
    padding: 10px;
    top: 60px;
    display: flex;
    border-radius: 10px 100px 0 0;
    margin-bottom: 10px;
  }
  
  .cardd {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: 	#8a2be2;
    box-shadow: -1rem 0 3rem #000;
    /* margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .cardd:not(:first-child) {
      margin-left: -50px;
  }
  
  .cardd:hover {   
     border-radius: 10px 100px 0 0;  

    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .cardd:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .titlee {
    color: black;
    font-weight: 300;
    position: relative;
    left: 20px;
    top: 15px;
    /* margin-bottom: 20px; */
  }
  
  

  
  .circlee {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .strokee {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.9s ease-out;
  }
  
  .svgg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .cardd:hover .strokee {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }