

/* left-side */
.boxx{
display: flex;
    /* grid-template-columns: auto auto auto; */
    /* justify-content: space-around; */
    margin-top: 100px;
background-color: white;


padding: 30px;
}

.columnn  {
 
    width: 50%;
    padding: 10px;
    height: auto;
  }

  .two-coll{
    background-color:white;
    display: flex;
   gap: 10px;
  }

.imagee {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: 250px;
}
.card-innerr{ 
    border-radius: 20px;
    border: solid 0.1px gray ;
    height: auto;
    overflow: visible;
    padding: 0 25px 25px;
width: 200px;
margin: 20px;
color: #194866;

}
.secondd{
    display: flex;
    gap: 10px;
}


/* right-side*/


 .captionn + h2:not(:last-child) {
    margin-bottom: 50px;
}
.captionn + h2 {
    margin-top: 10px;
    font-size: 55px;
    color: #194866;

}
 .firstt{
    padding-top: 200px;
 }
 .block-introo{
    font-size: large;
    font-weight: 300;
 }
.button-blockk{
margin-top: 70px;
    font-size: small;
    font-weight: 500;
    border: solid 1px #194866;
    border-radius: 20px;
    padding: 10px;
    width: 220px;
    text-decoration: none; 
}