.imagee {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: 250px;
}
.card-innerr{ 
    border-radius: 20px;
    border: solid 0.1px gray ;
  height: auto;
  overflow: visible;
  padding: 0 25px 25px;
width: 200px;
margin: 20px;
color: #194866;

}

.a{
  transform: translateY(-40px);
}

.b{
  transform: translateY(80px);
}

.c{

  transform: translateY(-40px);
}
.d{
  transform: translateY(60px);
}