.grid-img{
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-slider {
    padding-left: 20px;
  }
  
  .slick-prev {
    z-index: 1;
  }
  
  .slick-next {
    z-index: 1;
  }
  
  .slick-dots li button:before {
    color: rgb(179, 178, 178);
    font-size: 10px;
    margin-top: 10px;
  }
  
  .slick-dots li.slick-active button:before {
    color: white;
  } 
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  
    padding: 60px;
  
    background-color: #0d1117 !important;
  
  }
  
  button {
    width: 70px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #0d1117;
    border: 1px solid rgb(49, 54, 61);
    color: rgba(255, 255, 255, 0.5);
    color: rgb(179, 178, 178) !important;
  }
  